{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <img src="https://upload.wikimedia.org/wikipedia/ru/9/9d/Edmond_Hamilton.jpg"
                 alt="Э.М.Гамильтон"
                 class="img-responsive img-thumbnail">
        </div>
        <div class="col-sm-8">
            <h3 class="text-uppercase">Эдмонд Мур Гамильтон</h3>
            <p class="text-muted text-justify">В научной фантастике его дебют начался с рассказа «Бог — чудовище Мамурта»,
                который появился в 1926 году, в августовском выпуске журнала Weird Tales. В том номере по рейтингу
                Гамильтон уступил только своему кумиру Абрахаму Мерриту, оттеснив на третье место популярного в то
                время автора литературы ужасов Говарда Лавкрафта. Гамильтон быстро стал одним из главных членов
                группы писателей, публиковавшихся в Weird Tales и собранных главным редактором журнала Фарнсуортом
                Райтом. В ту же группу ещё входили такие известные писатели, как Говард Лавкрафт и Роберт Говард. В
                периоде с 1926 по 1948 год в журнале Weird Tales было опубликовано 79 произведений Гамильтона. Это
                сделало его одним из самых плодовитых писателей.</p>
            <p><a class="btn btn-xs btn-info pull-right" href="#" role="button">Подробнее</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h4>Серии книг</h4>
            <ul id="series">
                {% include 'series/tree_items.html.twig' with { 'items': series } %}
            </ul>
        </div>
        <div class="col-sm-8">
            <h4>Книги</h4>
            <p class="bg-info" id="helper" style="padding: 10px; border-radius: 5px">Выберите серию для просмотра книг</p>
            <table class="table table-striped hidden" id="books">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Оригинальное название</th>
                        <th>Год выпуска</th>
                        <th>Серия</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#series li').on('click', function(event){
            event.preventDefault();
            event.stopPropagation();
            $.get('/api/series/' + $(this).data('id') + '/books').done(function(data){
                var tableBlock = '';
                $.each(data, function(row){
                    tableBlock +=
                            '<tr>' +
                            '<td>' + data[row].title + '</td>' +
                            '<td>' + data[row].origin + '</td>' +
                            '<td>' + data[row].year + '</td>' +
                            '<td>' + data[row].series + '</td>' +
                            '</tr>'
                });
                $('#books tbody').html(tableBlock);
                $('#books, #helper').toggleClass('hidden');
            });
        });
    </script>
{% endblock %}

