{% for item in items %}
    <li data-id="{{ item.id }}">
        <a href="">
            {{ item.title }} {% if item.origin %}/ <small>{{ item.origin }}</small>{% endif %}
        </a>
        {% if item.__children %}
            <ul>
                {% include 'series/tree_items.html.twig' with { 'items': item.__children } %}
            </ul>
        {% endif %}
    </li>
{% endfor %}